

.nav-link:hover {
    background-color: #525252;
}


.record-row td {
    cursor: pointer;
}

input[type="submit"] {
    margin-bottom: 20px;
    margin-left: 10px;
}

#div_id_gamer__icontains, #div_id_platform__icontains, #div_id_rank__gte, #div_id_rank__lte,
 #div_id_game_score__gte, #div_id_game_score__lte, #div_id_games__gte, #div_id_games__lte {
    float: left;
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
}
