

.nav-link:hover {
    background-color: #525252;
}

thead, tbody { display: inline-block; width: 100%;}

tr td {
    width: 25%;
}

tbody {
    height: 60vh;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
}

.record-row td {
    cursor: pointer;
}

input[type="submit"] {
    margin-bottom: 20px;
    margin-left: 10px;
}

#div_id_gamer__icontains, #div_id_platform__icontains, #div_id_rank__gte, #div_id_rank__lte,
 #div_id_game_score__gte, #div_id_game_score__lte, #div_id_games__gte, #div_id_games__lte {
    float: left;
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-content: stretch;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    ". . . . . ."
    ". . . . . ."
    ". . . . . .";
}