<div class="grid">
    <div class="stat">{{player_record.rank}}</div>
    <div class="stat">{{player_record.gamer}}</div>
    <div class="stat">{{player_record.game_score}}</div>
    <div class="stat">{{player_record.games}}</div>
    <div class="stat">{{player_record.platform}}</div>
    <div class="stat">{{player_record.score_min}}</div>
    <div class="stat">{{player_record.kill_ratio}}</div>
    <div class="stat">{{player_record.win_percent}}</div>
    <div class="stat">{{player_record.btr_score}}</div>
    <div class="stat">{{player_record.hours_played}}</div>
    <div class="stat">{{player_record.kills}}</div>
    <div class="stat">{{player_record.deaths}}</div>
    <div class="stat">{{player_record.wins}}</div>
    <div class="stat">{{player_record.losses}}</div>
    <div class="stat">{{player_record.accuracy}}</div>
    <div class="stat">{{player_record.flags_captured}}</div>
    <div class="stat">{{player_record.flags_defended}}</div>
    <div class="stat">{{player_record.head_shots}}</div>
</div>