<a class="btn btn-primary player-record-btn" href={{previous_url}} role="button">Go back</a>
<a class="btn btn-primary player-record-btn" href={{original_player_record_url}} role="button">See original player record</a>
<a class="btn btn-primary player-record-btn" href={{original_player_list_url}} role="button">See original leaderboards</a>
<div class="grid">
    {% for name, value in player_record.get_fields %}
        {% if name != "index" and name != "Original Platform" %}
            <div class="stat card">
                <div class="card-body">
                    <h3 class="card-title">{{name}}</h3>
                    <h5 class="card-text">{{value}}</h5>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>