{% if player_records %}
<table class="table table-striped table-hover">
    <tr>
        <th>Rank</th>
        <th>Gamer</th>
        <th>BTR Score</th>
        <th>Games</th>
    </tr>
    {% for player_record in player_records %}
    <tr>
        <td>{{ player_record.rank }}</td>
        <td>{{ player_record.gamer }}</td>
        <td>{{ player_record.btr_score }}</td>
        <td>{{ player_record.games }}</td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% else %}
<p>There are no players.</p>
{% endif %}