{% load static %}
{% load crispy_forms_tags %}

{% if player_records %}
<form action="" method="get">
    {{ filter.form|crispy }}
    <input class="btn btn-primary" type="submit"/>
</form>
<p>**Note that some ranks might be missing due to unavailable data in the original website!</p>
<table class="table table-striped table-hover">
    <tr>
        <th class="rank">Rank</th>
        <th class="gamer">Gamer</th>
        <th class="platform">Platform</th>
        <th class="game-score">Game Score</th>
        <th class="games">Games</th>
    </tr>
    {% for player_record in player_records %}
    <tr title="Click to visualize record" class="record-row">
        <td>{{ player_record.rank }}</td>
        <td>{{ player_record.gamer }}</td>
        <td>{{ player_record.platform }}</td>
        <td>{{ player_record.game_score }}</td>
        <td>{{ player_record.games }}</td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        <div id="pages">
            <a class="btn btn-primary {% if not page_obj.has_previous %}disabled{% endif %}" href="?page=1">&laquo; First</a>
            <a class="btn btn-primary {% if not page_obj.has_previous %}disabled{% endif %}"
               {% if page_obj.has_previous %} href="?page={{ page_obj.previous_page_number }}" {% endif %}>Previous</a>
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
            <a class="btn btn-primary {% if not page_obj.has_next %}disabled{% endif %}"
               {% if page_obj.has_next %} href="?page={{ page_obj.next_page_number }}" {% endif %}>Next</a>
            <a class="btn btn-primary {% if not page_obj.has_next %}disabled{% endif %}" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        </div>
    </span>
</div>

{% else %}
<p>There are no players meeting the criteria.</p>
<a class="btn btn-primary player-record-btn" href={{previous_url}} role="button">Go back</a>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
</script>
<script type="text/javascript" src="{% static "js/index.js" %}"></script>
