{% extends "base.html" %}
{% load static %}

{% block content %}
<form id="form" action={% url "get_graph" %} method="get">
    <fieldset class="checkbox">
        <span>Select which Battlefield games:</span>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="bf_games" id="bf1" value="bf1" checked>
            <label class="form-check-label" for="bf1">BF1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="bf_games" id="bf4" value="bf4" checked>
            <label class="form-check-label" for="bf4">BF4</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="bf_games" id="bf-hardline" value="bf_hardline" checked>
            <label class="form-check-label" for="bf-hardline">BF Hardline</label>
        </div>
    </fieldset>
    <fieldset class="checkbox">
        <span>Select which platforms: </span>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="platforms" type="checkbox" id="pc" value="pc" checked>
            <label class="form-check-label" for="pc">PC</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="platforms" type="checkbox" id="xbox" value="xbox" checked>
            <label class="form-check-label" for="xbox">Xbox</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" name="platforms" type="checkbox" id="psn" value="psn" checked>
            <label class="form-check-label" for="psn">PSN</label>
        </div>
    </fieldset>
    <fieldset>
        <span>Select graph type: </span>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="graph_type" id="scatter" value="scatter" checked>
            <label class="form-check-label" for="scatter">Scatter</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="graph_type" id="line" value="line">
            <label class="form-check-label" for="line">Line</label>
        </div>
    </fieldset>
    <fieldset>
        <span>Select filter type: </span>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="graph_filter_on" id="overall" value="overall" checked>
            <label class="form-check-label" for="overall">Overall</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="graph_filter_on" id="game-title" value="game-title">
            <label class="form-check-label" for="game-title">By Battlefield game title</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="graph_filter_on" id="platform" value="platform">
            <label class="form-check-label" for="platform">By platform</label>
        </div>
    </fieldset>
    <label for="x-axis">Plot (on the x-axis)</label>
    <select name="x-axis" id="x-axis">
        {% for django_field, db_field in numeric_fields %}
            <option value="{{ django_field }}">{{ db_field }}</option>
        {% endfor %}
    </select>
    <label for="y-axis">against (on the y-axis)</label>
    <select name="y-axis" id="y-axis">
        {% for django_field, db_field in numeric_fields %}
            <option value="{{ django_field }}">{{ db_field }}</option>
        {% endfor %}
    </select>
    <br>
    <input class="btn btn-primary" id="data-analytics-submit" type="submit"/>
</form>
<!-- Just an empty div placeholder to be replaced by a graph-->
<div></div>
<script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
</script>
<script type="text/javascript" src="{% static "js/data_analytics.js" %}"></script>
{% endblock %}